.design {
    max-width: 900px;
    width: 100%;
    ;
    border: 1px groove #2184E7;
    border-radius: 12px;
    overflow: hidden;
}

.full-width {
    width: 100%;
}

a {
    color: #888;
    margin: 10px;
    cursor: pointer;
}

.mt-100 {
    margin-top: 100px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-55 {
    margin-bottom: 55px;
}

.p-10 {
    padding: 10px !important;
}

.designx {
    background: #FFF;
    padding: 15px !important;
}

.design .row {
    margin: 0px;
    padding: 0px;
}

.design .row div {
    padding: 0px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.orblock span {
    background: #999;
    vertical-align: middle;
    width: 40%;
    height: 2px;
    display: inline-block;
}

input[type="text"] {
    display: block;
    background-color: #f1f3f4;
    color: black;
    border: none;
    outline: none;
}

.btn-color {
    background: #dfe1e5 !important;
}

.btn-color-blue {
    background: #2184E7 !important;
    color: white !important;
}

.onhoverlight:hover {
    background: #e8eaeb !important;
}

.onhoverdark:hover {
    background: #d7d9dd !important;
}

textarea {
    height: 120px;
    resize: none;
}

#content-desktop {
    display: block;
}

#content-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    #content-desktop {
        display: none;
    }
    #content-mobile {
        display: block;
    }
}

.hrefWithoutDecoration {
    text-decoration: none !important;
    color: white !important;
}

.hrefWithoutDecoration2 {
    text-decoration: none !important;
    color: black !important;
}

.newblue{
    background-color: #0A66C2;
}

.newblue:hover{
    background-color: #004182;
}